.standard-form label {
  font-weight: bold;
  display: block;
}

.standard-form textarea {
  width: 550px;
  max-width: calc(100vw - 40px);
  height: 100px;
}

.standard-form button + button {
  margin-left: 10px;
}
